<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/admin/home">Dashboard</a></li>
                    <li>
                        <span>Master Data</span>
                    </li>
                    <li class="active">
                        <span>Departments</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Offices for <strong>{{name}}</strong>
            </h2>
            <small>Create, Edit, Delete Offices For eDistrict, Punjab.</small>
        </div>
    </div>
</div>


<div class="normalheader transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.4s;">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Add a new office form
                </div>
                <div class="panel-body">
                    <form name="addOfficeForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Office Title</label>
                                    <input class="form-control" required ng-model="off.officename" placeholder="Enter Office of Department"/>
                                </div>
                                <div class="form-group">
                                    <label>District</label>
                                    <select class="form-control" required ng-model="dist">
                                        <option value="">--Choose One--</option>
                                        <option ng-repeat="d in dists" value="{{d.districtID}}">{{d.district_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Operation Level</label>
                                    <select class="form-control" required ng-model="off.operationlevel">
                                        <option value="">--Choose One--</option>
                                        <option value="district">District</option>
                                        <!-- <option value="division">Division</option>
                                        <option value="block">Block</option>
                                        <option value="tehsil">Tehsil</option>
                                        <option value="post_office">Post Office</option>
                                        <option value="village">Village</option>
                                        <option value="panchayat">Panchayat</option> -->
                                    </select>
                                </div>
                                <div class="form-group" ng-show="off.operationlevel == 'block'">
                                    <label>Select Block</label>
                                    <select class="form-control" ng-model="block2">
                                        <option value="">--Choose One--</option>
                                        <option ng-repeat="b in blocks" value="{{b.blockID}}">{{b.block_name}}</option>
                                    </select>
                                </div>
                                <input type="hidden" required value="{{off.operationrefid}}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary2" ng-click="addOffice()" ng-disabled="addOfficeForm.$invalid">Add New Office</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Click "Add New Office" To Insert 
                </div>
            </div>
        </div>  
    </div>
</div>

<div class="normalheader transition animated fadeIn">
    <div class="row" style="padding-bottom: 50px;">
        <div class="col-lg-12 animated-panel fadeIn" style="animation-delay: 0.4s;">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn waves-effect waves-light btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input id="example-input1-group2" ng-model="search.action_title" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Search By Action Name" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th class="text-center">S. No.</th>
                                <th class="text-center">Designation Name</th>
                                <th class="text-center">Created On</th>
                                <th class="text-center col-xs-1"></th>
                            </thead>
                            <tbody class="text-center">
                                <tr ng-repeat="item in desigs | filter:search">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.desig_name}}</td>
                                    <td>{{item.created_on | date : format : "medium"}}</td>
                                    <td>
                                        <div data-toggle="buttons" class="btn-group">
                                            <button class="btn btn-info btn-xs">
                                                    Edit
                                            </button>
                                            <button class="btn btn-danger btn-xs">
                                                    Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
    
    